<!DOCTYPE html>
<html dir="auto" lang="en">
<meta charset="utf-8">

<main>
  <div class="container-fluid" style="padding: 0;" >


                            <!-- slideshow -->

  <div id="main" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/coffee.jpg" class="img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/epic1.jpg" class="img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/hi.jpeg" class="img-fluid w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/rule.jpeg" class="img-fluid w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#main" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#main" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
                           <!-- Show All Admins-->

    <div class="container-md">
      <h3>Hello Admin! Here are your fellow friends: </h3>
      <div class="row" style="border-color: black">
      <ul>
        <li *ngFor="let admin of Admins">Name:{{admin.name}}, Username:{{admin.username}}, Email:{{admin.email}}</li>
      </ul>
      </div>
    </div>


<div class="container-md">

  <form class="row gx-3 gy-2 align-items-center" id = "formRead" action="#">
    <div class="form-group">
      <legend id="header1" aria-describedby="emailHelp">
        <small id="Header2" class="form-text">Hey! Did you know that you can create a new Admin here:</small>
      </legend>
      <div>
        <label for="name1">Name:</label><br>
        <input type="text" class="form-control" id="name1" name="name" value=""><br>
      </div>
      <div>
        <label for="username1">Username:</label><br>
        <input type="text" class="form-control" id="username1" name="lastName" value=""><br><br>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">@</span>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>

      <input class="btn btn-outline-info" id="inputSubmit" type="submit" value="Submit">

                                    <!-- json data validation -->
      <p>
        Form Value: {{ profileForm.value | json }}
      </p>


      <p>
        Form Status: {{ profileForm.status }}
      </p>

    </div>
  </form>
</div>


     </div>
  </main>
</html>



