#form{
  border-style: solid;
  border-color: black;
  border-width: 1px;

  background-color: white;

  margin-right: 100px;
  margin-left: 3px;
  margin-bottom: 10px;
}

#boxform{
  margin-top: 10px;
  margin-right: 590px;
  width: 540px;

}

#input{

  margin-right: 500px;
  margin-left: 170px;
}

#main{
height: 340px;
}

#formRead{

  margin-bottom: 300px;
  margin-left: 700px;
}
