
<div class="container-fluid px-0">

  <div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-2">
<div class="typewriter" style="width: 100vw; font-size: 20px; background-image: linear-gradient(to left, violet, purple, lightskyblue, deeppink, lightpink, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  right: 10px;

">
  <h1>Hello {{userType}}!</h1>

</div>
<img src="assets/img/animeboy.gif" id="profilepic" alt="animeboyprof">

<div class="center" id="userinfo">

</div>
<div class="inputAnimate">
  <label for="username"></label><input type="text" id="username" placeholder="{{userType}}">

</div>
<div class="inputAnimate">
  <label for="email"></label><input type="text" id="email" placeholder="{{email}}">
</div>

<!--<div class="btn-group" id="btncoursegroup">
  <a href="/course-list" class="btn btn-primary active btn-sm" id="coursesBtn" aria-current="page">Courses</a>
  <a href="/course-list" class="btn btn-primary active btn-sm" id="savedtopicsBtn"  aria-current="page">Saved Topics</a>

</div>-->

<div id="boxsaved">
<div class="button_cont"><a class="example_a" id="btncourses" routerLink="/course-list" style="background-image: linear-gradient(to left, violet, purple, lightskyblue, deeppink, lightpink, red);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: grey;
  border-style: dashed;" target="_blank" rel="nofollow noopener">All Courses</a></div>
<div class="button_cont"><a class="example_a" id="btnsaved" routerLink="/course-list" style="background-image: linear-gradient(to left, violet, purple, lightskyblue, deeppink, lightpink, red); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: grey;
  border-style: dashed" target="_blank" >Saved Topics</a></div>
</div>
    </div>
  </div>
</div>

