<button routerLink="/admin">Back</button>

<form [formGroup]="topicForm" (ngSubmit)="saveTopic()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Body:
    <input type="text" formControlName="mainBody">
  </label>

  <label>
    Type:
    <select id="courseId" formControlName="courseId" placeholder="Select Type">
      <option *ngFor="let c of courses" [value]="c.id">
        {{c.name}}
      </option>
    </select>
  </label>

  <button type="submit">Save Changes</button>
</form>
