<button routerLink="/admin">Back</button>

<form [formGroup]="userForm" (ngSubmit)="saveUser()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Email:
    <input type="text" formControlName="email">
  </label>

  <label>
    Password:
    <input type="text" formControlName="password">
  </label>

  <label>
    Type:
    <select id="type" formControlName="type" placeholder="Select Type">
      <options *ngFor="let t of types" [value]="t.id">
        {{t.name}}
      </options>
    </select>
  </label>
  <button type="submit">Save Changes</button>
</form>
