<div>

                               <!--nav -->
  <!--*ngIfUser> -->


   <app-navbar-user></app-navbar-user>
   <!--  ngIfTeacher> -->
   <!--  <app-navbar-teacher></app-navbar-teacher> -->
  <!-- ngIfNone -->
      <!--  <app-navbar-welcome></app-navbar-welcome> -->

  <!-- ngIfAdmin -->
     <app-navbar-admin></app-navbar-admin>

</div>

    <div>

      <!-- <app-welcome></app-welcome>  -->
        <!-- <app-user-list></app-user-list> -->
      <!-- <app-dashboard></app-dashboard> -->
      <!--  <app-course-list></app-course-list> -->
      <!-- <app-dashboard-teacher></app-dashboard-teacher> -->
       <!-- <app-topic-page></app-topic-page> -->
        <!-- <app-topic-list></app-topic-list> -->

         <app-topic-page></app-topic-page>
     <!-- <app-admin-list></app-admin-list> -->


       <!-- <router-outlet></router-outlet> -->
     </div>








