#box{
  margin-left:20px;
  margin-bottom: 100px;
  margin-top: 10px;
  background-color: lightseagreen;
  border-radius: 50px 50px 50px;
  border-width: thick;
}

#header{
  padding-bottom:30px;
  margin-left:330px;
  margin-top: 130px;
  margin-right: 200px;
  font-size: 40px;
  font-family: "Apple SD Gothic Neo";color: #d9d9d9;
}


#imgid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}


#body{

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #212529;

}


#topicMain{
  margin-left: 150px;
  margin-bottom: 1100px;
  margin-right: 180px;
  list-style: none;
  font-size: 18px;
  font-family: "Apple SD Gothic Neo";color: white;

}

#descript{

  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:lightseagreen;
}

#maininfo{
  margin-right: 190px;
  margin-left: 190px;
  background: #434343;
  overflow: auto;

}

#idH{
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:aqua;

}

#NameH{
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:aqua;

}
#DesH{
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:aqua;
}
#corsH{
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:aqua;
}

#cidH{
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:aqua;
}

#comH{
  margin-left:20px;
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";color:white;
}

#comH1 {
  font-size: 20px;
  font-family: "Apple SD Gothic Neo";
  color: aqua;
}

