
<div class="container-fluid justify-content-center" id="body">


<img src="/assets/blue.jpg" alt="coffeee" id="imgid">


  <h3 id="header">
    Name Of Chosen Topic for Current User
  </h3>

  <div id="maininfo">
  <p id="descript"> Topic description:</p>
  <div id="topicMain">

     <div>
       <div>
       <h5 id="idH">id: {{topic.id}}</h5>
       </div>
       <div>
         <h5 id="NameH">Name:</h5>
         {{topic.name}}
       </div>
       <div>
         <h5 id="DesH">Description: </h5>
         {{topic.mainBody}}
       </div>

       <p id="corsH">course: {{topic.course}} </p>

       <p id="cidH" > courseid: {{topic.courseId}} </p>


       <h5 id="comH1">Comments:</h5>
       <div id="box">

         <li *ngFor = "let c of topic.comments">

           <div>
             id:{{c.id}} username: {{c.user}} current topic:{{c.topic}}
             comment: {{c.mainBody}} - DatePosted: {{c.datePosted}}
           </div>
         </li>

       <h5 id ="comH"> Hi static! {{topic.comments}} </h5>

          </div>

     </div>
     </div>

 </div>

  </div>


