
<div style = "position:relative; left:800px; top:0px; ">
  <img id=dude src="assets/img/dude.gif">
</div>
<div class="sf-container">
<div id="carouselExampleSlidesOnly" class="carousel slide sticky-top" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/tree.jpg
" class="d-block w-100" alt="tree">
    </div>
    <div class="carousel-item">
      <img src="assets/img/pink.jpg
" class="d-block w-100" alt="pink">
    </div>
    <div class="carousel-item">
      <img src="assets/img/purple.jpg
" class="d-block w-100" alt="purple">
    </div>
    <div class="carousel-item">
      <img src="assets/img/study.jpg
" class="d-block w-100" alt="study">
    </div>
  </div>
</div>
</div>
