<img src="assets/img/giphy.gif" id="arrow" alt="arrow">
<img src="assets/img/pointup.gif" id="pointup" alt="pointup">
<div class="typewriter" style="width: 100vw; font-size: 20px; background-image: linear-gradient(to left, violet, purple, lightskyblue, deeppink, lightpink, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  right: 10px;

">

  <h1>Welcome to StudyBuddy!</h1>
</div><blockquote>
  Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday’s code.
  – Dan Salomon
</blockquote>
<div class="boxed" id="text-box">
  Hello fellow student,
  so nice to see you on StudyBuddy's website.
  Here you'll get all you need to become a better programmer.<br/>
  Key topics for all your courses, following the syllabus and
  options for commenting topics with related questions for teachers and
  other students.<br/>The StudyBuddy aims to help 3rd semester students.<br/><br/>
  May the semicolons shine bright and enjoy the sleepless nights!


</div>

  <div class="container-fluid" id="container" style="padding: 0; " >


    <!-- slideshow -->

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/green.jpg" class="img-fluid w-100" alt="green">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/pink.jpg" class="img-fluid w-100" alt="pink">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/study.jpg" class="img-fluid w-100" alt="study">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/tenor.gif" class="img-fluid w-100" alt="gif">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
</div>


