#navbarDarkDropdownMenuLink{
 position: fixed;
  margin-left: 900px;
}

#box{
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 850px;
}


#logo{
  margin-left: 20px;
}
