#navbarDarkDropdownMenuLink{
 position: fixed;
  margin-left: 700px;
}

#box{
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 680px;
}


#logo{
  margin-left: 20px;
}
