#navbarDarkDropdownMenuLink{
  position: fixed;
  margin-left: 70%;
}

#box{
  position: fixed;
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 920px;
}


#logo{
  margin-left: 20px;
}

